Welcome to {{ node_description_map[image_type] }} (image v{{ family_version }}, built on {{ ansible_date_time.date }} {{ ansible_date_time.time.split(":")[0] }}:{{ ansible_date_time.time.split(":")[1] }} {{ ansible_date_time.tz }})
Documentation:  https://docs.bayware.io

