[[inputs.exec]]
{% if 'processor' in group_names %}
  commands=[ "/opt/reportIPSecMetrics.sh" ]
{% elif 'workload' in group_names %}
  commands=[ "/opt/reportIPSecMetrics.sh" ]
{% else %}
  # This is not intended to be used here!
  commands=[ ]
{% endif %}
  timeout = "8s"
  data_format = "influx"
