[Unit]
Description=iperf3 server
After=syslog.target network.target auditd.service

[Service]
User=iperf
Group=iperf
ExecStart=/usr/bin/iperf3 -s

[Install]
WantedBy=multi-user.target
